<img src="../assets/images/cinemabackground.jpg">

<div class="container-fluid">
    <div class="navbar-collapse" id="profile">
        <a class="nav-link text-white" href="/user/profile">Profile</a>
    </div>

    <div class="navbar-collapse" id="logout">
        <a class="nav-link text-white" href="/auth/logout">Logout</a>
        </ul>
    </div>

    <form>
        <input type="text" name="search" placeholder="Search by movie or actor...">
    </form>

    <!--Start of adding movie images-->
    <div class="row">
        <div class="col" id="storeList">
            <table class="storeTable" style="width:100">
                <tr>
                    <th>Store ID</th>
                    <th>Store Name</th>
                    <th>Address ID</th>
                </tr>
            </table>
        </div>
        <div class="col" id="filmList">
            <div data-spy="scroll" data-target="#filmList" data-offset="0">
                <table class="filmTable" style="width:100">
                    <tr>
                        <th>Film ID</th>
                        <th>Film Name</th>
                        <th>Description</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>