<img src="../assets/images/cinemabackground.jpg">

<div></div>


<div class="container-fluid">
    <div class="navbar-collapse" id="profile">
        <a class="nav-link text-white" href="/user/profile">Profile</a>
    </div>

    <div class="navbar-collapse" id="logout">
        <a class="nav-link text-white" href="/auth/logout">Logout</a>
        </ul>
    </div>

    <form>
        <input type="text" name="search" placeholder="Search by movie or actor...">
    </form>
    <!--Start of adding movie images-->
    <div class="row">

    </div>
</div>

<script type="text/javascript" src="/js/user.js"></script>